/*
Base CSS for the app
*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    font-family: "Roboto";
    background: #222;
}

svg.pipes {
    /* border: solid 2px; */
    border-radius: 0.3em;
    background: #323232;
}
